<app-ui-appbar></app-ui-appbar>
<div class="container">
    <app-container-money-creator (createRecord)="onCreateRecord($event)" [categories]="categories"></app-container-money-creator>
    <hr>
    <table class="table table-hover catdlist">
        <thead>
            <tr>
                <th width="35"></th>
                <th>日期</th>
                <th>描述</th>
                <th>收入</th>
                <th>支出</th>
                <th width="100">動作</th>
            </tr>
        </thead>
        <tbody>
            <tr
                app-container-money-record
                [record]="record"
                *ngFor="let record of records; let i = index"
                (removeRecord)="onMoneyRecordRemoved($event, i)"
            ></tr>
        </tbody>
    </table>
</div>